body{
  color: #666666;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  width: 1024px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  //border: 1px solid #cccccc;
  padding-top: 23px;
  box-sizing: border-box;
  .logo {
    width: 175px;
    height: 49px;
    text-indent: -9999px;
    background: url("../images/logo/logo.png") no-repeat;
    float: left;
  }
  .title{
    padding-left: 22px;
    font-size: 24px;
    line-height: 39px;
    float: left;
  }
  .header-r{
    //border: 1px solid #cccccc;
    float: right;
    margin-top: 5px;
    .r-item{
      float: left;
      margin-right: 10px;
      color: #333333;
      &:hover{
        color: #4b4dff;
      }
      .icon{
        width: 32px;
        height: 32px;
        background: url("../images/icon/wechat.png") no-repeat;
        float: left;
        margin-right: 10px;
      }
      span{
        line-height: 32px;
      }
      &:nth-of-type(2){
        .icon{
          background: url("../images/icon/new.jpg") no-repeat;
        }
      }
      &:nth-of-type(3){
        .icon{
          background: url("../images/icon/tea_01.png") no-repeat;
        }
      }
    }
  }
}

.nav{
  width: 100%;
  height: 40px;
  background: #cf3340;
  font-size: 16px;
  //line-height: 40px;
  color: #FFFFFF;
  position: absolute;
  padding: 8px 0;
  box-sizing: border-box;
  .nav-item{
    float: left;

    .item-title{
      cursor: pointer;
      position: absolute;
      top: 0;
      border-right: 1px solid #a22727;
      padding-right: 16px;
      box-sizing: border-box;
      margin-top: 10px;
      span{
        float: left;
      }
      .icon{
        float: left;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-top: 10px solid white;
        margin-top: 4px;
        margin-left: 12px;
      }
    }
    .item-content{
      height: 177px;
      border: 1px solid #000;
      position: absolute;
      top: 40px;
      color: #000;
      text-align: center;
      display: none;
    }
  }
}